<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
.switch-container {
  display: flex;
  align-items: center;
}

.switch-container label {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
}

.hint-icon {
  margin-left: 8px;
  font-size: 1.2em;
  color: #0e304f;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0e304f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0e304f;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<br>
<hr>
<br>
<div>
    <p>Select if you want to see M117 commands in LCD or Full job Details(O9000 commands): </p>
</div>

<div class="form-group switch-container">
    <label for="enable_o9000_commands" class="control-label">View M117 Commands</label>
    <label class="switch">
        <input type="checkbox" id="enable_o9000_commands" data-bind="checked: settings.plugins.E3V3SEPrintJobDetails.enable_o9000_commands" />
        <span class="slider round"></span>
    </label>
    <label for="enable_o9000_commands" class="control-label">Enable O9000 Commands</label>
    <!-- Icono de hint -->
    <i class="fas fa-info-circle hint-icon" data-toggle="tooltip" data-placement="right" title="If the slider is Enabled, Ocotprint will send O9000 commands to render the Job details in the LCD, otherwise any other plugin using M117 command will be shown in the LCD screen. Use this to avoid overlapping of screens and messages."></i>
</div>

<hr>
<br>
<div>
    <p>Select the type of the Progress that you want to see Based on: </p>
</div>
<div class="form-group switch-container">
<label for="based_progress" class="control-label">Time Progress</label>
    <label class="switch">
        <input type="checkbox" id="based_progress" data-bind="checked: settings.plugins.E3V3SEPrintJobDetails.based_progress" />
        <span class="slider round"></span>
    </label>
    <label for="based_progress" class="control-label">Layer Progress</label>
    <!-- Icono de hint -->
    <i class="fas fa-info-circle hint-icon" data-toggle="tooltip" data-placement="right" title="If the slider is Enabled, The plugin will render the progress based on the Layer progress, if is disabled(default) will show the progress based on the Time reported by the system. It only affects LCD screen"></i>
</div>

<!-- Inicializar el tooltip de Bootstrap -->
<script src="{{ url_for("static", filename="js/lib/jquery/jquery.min.js") }}"></script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
